version: '3.8'
services:
  mysql-master:
    image: mysql:8.0
    container_name: mysql-master
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: test_db
    ports:
      - "3307:3306"
    volumes:
      - ./master.cnf:/etc/mysql/conf.d/master.cnf
      - ./init-master.sql:/docker-entrypoint-initdb.d/init-master.sql
    networks:
      - mysql-net

  mysql-slave:
    image: mysql:8.0
    container_name: mysql-slave
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
    ports:
      - "3308:3306"
    volumes:
      - ./slave.cnf:/etc/mysql/conf.d/slave.cnf
      - ./init-slave.sql:/docker-entrypoint-initdb.d/init-slave.sql
    networks:
      - mysql-net
    depends_on:
      - mysql-master

networks:
  mysql-net: